.about {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #424242;
    font-family: 'Lobster Two', cursive !important;
    font-size: 1.5rem;
    flex-direction: column;
    padding: 0 5px;
    text-align: center;
}
