.check-in {
    .grid {
        height: 100%;
        padding: 0;

        .row {
            flex: 1;
            height: 100%;
            flex-direction: column;

            .col {
                flex-direction: column;
                &:first-of-type,
                &:last-of-type {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #eceff1;
                }
                .action-btn {
                    margin: 0;
                }
                h4 {
                    font-size: 90%;
                    font-weight: 100;
                }
                .input {
                    margin: 0 10px;
                    color: $base-red;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    border: solid 1px $base-red;
                    --highlight-color-focused: none;
                    input {
                        text-align: center;
                    }
                    ion-label {
                        color: $base-red;
                    }
                    &.success {
                        color: $base-dark;
                        // border: solid 1px $base-dark;
                        ion-label {
                            color: $base-dark;
                        }
                    }
                }
            }
        }
    }
}



.check-in-dialog {
    ion-content {
        height: 91%;
    }
    .transactions-list {
        border-left: solid;
        --background: aliceblue;
        margin-bottom: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        &.danger {
            border-color: $base-red;
        }
        &.warning {
            border-color: $base-warning;
        }
        &.success {
            border-color: $base-success;
        }
        p:last-of-type {
            font-size: 60%;
        }
    }

    .transaction-state-1 {
        border-color: $base-success !important;
    }
    .transaction-state-2 {
        border-color: $base-warning !important;
    }
    .transaction-state-3 {
        border-color: $base-red !important;
    }
}

.pop-over-container {
    padding: 1rem;
    section {
        p{
            margin: 0;
            font-size: 80%;
            font-weight: 100;
            margin-bottom: 3px;
            &:first-of-type,
            &:last-of-type  {
                font-weight: 400;
                margin-bottom: 5px;
            }
            &:first-of-type  {
                border-bottom: solid 1px grey;
                margin-top: 5px;
                text-transform: capitalize;
            }
        }
    }
}
