.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

.customers-list {

    /* .modal-not-full ion-label {
        text-align: center;
        font-weight: 600;
        padding: 16px 0;
        text-transform: uppercase;
    } */

}

.customers-list-modal {
    .close-icon {
        top: 10px;
        right: 10px;
        color: #616161;
        position: fixed;
        border-radius: 20px;
    }
}
