.home-listings {
    ion-card {
        margin: 10px;
    }

    img {
        height: 160px;
    }

    ion-card-title {
        font-size: 100%;
    }

    ion-card-content {
        display: flex;
        padding-top: 0;
        flex-direction: row;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;

            ion-icon {
                margin-right: 5px;
                font-size: 24px;
            }

            span {
                font-weight: 500;
            }
        }
    }
}

.selected-home {
    ion-card {
        margin: 10px;
    }

    .header-image {
        height: 30vh;
        background-size: cover;
        background-color: #f5f5f5;
        background-repeat: no-repeat;
        background-position: center;
    }

    .details {
        display: flex;
        padding: 10px;
        margin-top: -3px;
        flex-direction: row;
        background: aliceblue;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;

            ion-icon {
                margin-right: 5px;
                font-size: 24px;
            }

            span {
                font-weight: 500;
            }
        }
    }

    P {
        padding: 0 10px;
        margin: 7px 0;

        &.image-name {
            padding-top: 0;
            margin-top: 0;
            text-align: center;
        }
    }
    h6.company-name {
        position: fixed;
        bottom: 10px;
        padding: 5px;
        background: rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .showImage {
        background: rgba(0,0,0,0.2);
        border-radius: 5px;
        padding: 5px;
        margin: 0;
    }
}

.add-listing {
    .image-list-container {
        position: relative;
        border: solid 1px #bdbdbd;

        img {
            width: 100%;
            height: auto;
        }

        section {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            width: 100%;
            font-size: 30px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            background: rgba(black, 0.3);

            ion-icon {
                cursor: pointer;
            }
        }
    }

    ion-input.image-text {
        --background: #f5f5f5;
        border: solid 1px #bdbdbd;
        margin-top: -5px;

        input {
            padding: 5px;
        }
    }

    .hidden {
        display: none;
    }
}

.single-property-list {
    display: flex;
    padding: 10px 0;
    border-bottom: solid 1px #e0e0e0;

    .image-holder {
        flex-shrink: 0;
        width: 135px;
        height: 90px;
        border-radius: 10px;
        margin-right: 15px;
        background-color: #f5f5f5;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            border-radius: 12px;
        }
    }

    .details-holder {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
                margin: 0;
                color: #616161;
                font-weight: 200;
                text-transform: capitalize;
            }
            >div {
                color: #ffffff;
                border-radius: 2px;
                margin-right: 5px;
                background-color: #9e9e9e;
                p {
                    color: #ffffff;
                    padding: 2px;
                    font-size: 80%;
                    letter-spacing: 1px;
                    font-weight: 500;
                }
            }
        }
        h3 {
            font-size: 14px;
            margin: 8px 0;
            color: #424242;
        }
        .row-details {
            margin: 0;
            line-height: 20px;
            color: rgb(105, 103, 102);
            font-size: 12px;
            padding-top: 0px;
            padding-bottom: 0px;
            flex-grow: 1;
            text-overflow: ellipsis;
            word-break: break-word;
            -webkit-line-clamp: 2;
            hyphens: auto;
            overflow: hidden;
            span {
                &:not(:last-of-type) {
                    &:after {
                        content: "·";
                        display: inline-block;
                        margin: 0px 0.25em;
                    }
                }
            }
        }
        h3.rent {
            color: rgb(73, 185, 117);
            font-size: 15px;
            display: flex;
            align-items: flex-end;
            margin-right: 8px;
        }
    }
}
