ion-item {
    &.filled {
        --background: #eceff1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        &.has-error {
            --border-color: red;
            ion-label {
                color: red;
            }
        }
    }
}

p.input-error-message {
    margin: 0;
    font-size: 65%;
    text-align: end;
    min-height: 12px;
}
