.home-loading {
    .header-img {
        width: 100%;
        height: 40vh;
        --border-radius: 0;
    }
    .body-img {
        width: 100%;
        height: 20vh;
        --border-radius: 0;
    }
}
