@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import './variables';

@import './input';
@import'./check-in';
@import'./customersList';
@import'./message-board';
@import './portal';
@import './home-listings';
@import './notfound';
@import './loader';
@import './about';

body {
    font-family: $base-font;
}

/* :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
} */

h1,
h2,
h3,
h4 {
    font-weight: 600;
    font-family: $base-font;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 10px;
}

.button {
    --border-radius: 0px;
}

.ion-activatable {
    position: relative;
    overflow: hidden;
}

ion-list-header {
    font-weight: 700;
    color: #616161;
    font-size: 85%;
}

.action-btn {
    margin: auto;
    --box-shadow: none;
}

.button-list {
    .action-btn {
        margin-bottom: 10px;

        &:first-of-type {
            margin-bottom: initial;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}

.selected {
    margin: 0;
}

ion-fab-button {
    --box-shadow: transparent;
}

.hidden {
    display: none;
}
.show {
    display: block;
}
.app-name {
    font-family: 'Lobster Two', cursive !important;
    font-size: 2rem;
}

ion-toolbar>div.logo {
    margin: 0 0 0 10px;
    justify-content: flex-end;
}

div.logo {
    display: flex;
    margin: 4rem 0;
    justify-content: center;
    flex-direction: row-reverse;
}
img.logo {
    padding: 0;
    margin: auto 0;
    max-height: 2rem;
}
p.logo {
    width: auto;
    margin: auto 0;
}
.pointer {
    cursor: pointer;
}

// Page specific
.ListLoading {
    ion-skeleton-text {
        line-height: 13px;

        &:last-child {
            margin-bottom: 5px;
        }
    }
}

.app-segment {
    ion-col.select {
        padding: 2px;
        margin-top: 10px;

        .button {
            margin: 0;
            padding: 0;
            font-size: 13px;
            letter-spacing: 1px;
            --ion-color-base: transparent !important;
            --ion-color-contrast: black !important;
        }

        &.active {
            min-height: 40px;
            border-left: solid;
            background-color: #f7f7f7;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .2);

            .button {
                font-weight: 800;
            }
        }

        &.status-1 {
            border-left: solid #81c784;
        }

        &.status-2 {
            border-left: solid #ffab40;
        }

        &.status-3 {
            border-left: solid $base-red;
        }

        &.status-10 {
            border-left: solid #000000;
        }
    }
}

.app-installer-container {
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 1rem 2rem;
    color: #000000;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    p {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    ion-button {
        font-weight: 700;
    }
}

.menu {
    div {
        bottom: 0;
        padding: 10px;
        font-size: 8px;
        position: fixed;
    }
}
.splash {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
        max-width: 50%;
    }
}

.slides {
    text-align: center;
    ion-slides {
        padding: 2rem 0;
        height: 100%;
        ion-list {
            width: 94%;
        }
    }
    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    ion-slide {
        img {
            max-width: 30%;
            margin: 36px 0;
        }
        p {
            margin: 10px;
        }
        .ion-items {
            width: 94%;
            ion-avatar {
                --border-radius: 5px;
            }
            p {
                margin: 0;
            }
        }
    }
    h3 {
        font-weight: 300;
    }
    .slide1 {
        img {
            max-width: 20%;
            margin: 10px;
        }
       .dot {
            font-size: 150%;
        }
    }

    .btn-container {
        width: 96%;
        display: flex;
        justify-content: space-around;
        .button {
            width: 40%;
        }
    }

    ion-chip {
        svg {
            margin-left: 10px;
        }
    }
    .agent-or-renter ion-item {
        text-align: center;
    }
}
