.message-board {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    font-weight: 500;
    margin: auto;
    text-align: center;

    div {
        margin: auto;
        width: 150px;
        height: 150px;
        display: flex;
        margin: 3rem auto;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: black;

        ion-icon {
            color: white;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            text-decoration: none;
            height: 75px;
            width: 75px;
        }
    }
    .button {
        width: auto !important;
    }
}
