.portal {
    .button {
        margin-top: 20px;
        margin-right: 15px;
        margin-left: 15px;
        --border-radius: 0px;
    }
    img {
        margin: auto;
        padding: 5rem;
    }
    h1 {
        text-align: center;
    }

    .anchor-button-container {
        width: 100%;
        display: flex;
        margin-top: -20px;
        justify-content: center;

        &.space-between {
            justify-content: space-between;
        }
    }

    .button {
        width: 100%;
        font-size: 60%;
        color: black;
    }

    ion-button.button-block {
        font-size: 90%;
        font-weight: bold;
        letter-spacing: 1px;
    }
}
